/* Pretendard */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable-dynamic-subset.min.css");


/* 학교안심 가을소풍 */

@font-face {
    font-family: 'HakgyoansimGaeulsopungL';
    src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Keris/HakgyoansimGaeulsopungL.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HakgyoansimGaeulsopungB';
    src: url('https://cdn.jsdelivr.net/gh/fontbee/font@main/Keris/HakgyoansimGaeulsopungB.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}