@tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  color: #02081b; /* text-default */
}


@layer utilities {
  .position-center {
    @apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .flex-row-center {
    @apply flex justify-center items-center;
  }
  .flex-col-center {
    @apply flex flex-col justify-center items-center;
  }
  /* border-white, bg-white, hover 시 배경이 투명해지는 버튼 */
  .btn-white-wb {
    @apply border-solid border-1 border-white bg-white hover:bg-transparent hover:text-white;transition: background-color 0.2s, color 0.2s;
  }
  /* border color primary, bg-white, hover 시 배경이 primary/8 */
  .btn-white-pb {
    @apply border-solid border-1 border-white bg-white hover:bg-transparent hover:text-white;transition: background-color 0.2s, color 0.2s;
  }
}

#modal {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-button:vertical:start:increment {
    display: block;
  }

  ::-webkit-scrollbar-button:vertical:end:increment {
    display: block;
    height: 6px;
  }

  ::-webkit-scrollbar-thumb {
    height: 5px;
    background: #d0d0d0;
    border-radius: 10px;
  }
}